networks:
  default:
    name: tripsphere
    driver: bridge

services:
  # Nacos
  nacos:
    image: nacos/nacos-server:v2.5.1
    container_name: nacos
    environment:
      - MODE=standalone
    ports:
      - "8080:8080"
      - "8848:8848"
      - "9848:9848"

  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.86.0
    container_name: otel-collector
    command: ["--config=/etc/otelcol-config.yaml"]
    volumes:
      - ./otel-collector/otelcol-config.yaml:/etc/otelcol-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"

  # RocketMQ
  namesrv:
    image: apache/rocketmq:5.3.2
    container_name: rmqnamesrv
    ports:
      - 9876:9876
    command: sh mqnamesrv

  broker:
    image: apache/rocketmq:5.3.2
    container_name: rmqbroker
    ports:
      - 10909:10909
      - 10911:10911
      - 10912:10912
    environment:
      - NAMESRV_ADDR=rmqnamesrv:9876
    depends_on:
      - namesrv
    command: sh mqbroker

  proxy:
    image: apache/rocketmq:5.3.2
    container_name: rmqproxy
    depends_on:
      - broker
      - namesrv
    ports:
      - 18080:8080
      - 8081:8081
    restart: on-failure
    environment:
      - NAMESRV_ADDR=rmqnamesrv:9876
    command: sh mqproxy

  # MongoDB
  mongodb:
    image: mongodb/mongodb-community-server:8.0-ubi8
    container_name: mongodb
    environment:
      MONGODB_INITDB_ROOT_USERNAME: root
      MONGODB_INITDB_ROOT_PASSWORD: fudanse
    ports:
      - "27017:27017"

  # MySQL
  mysql:
    image: mysql:8.4.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: fudanse
      TZ: Asia/Shanghai
    ports:
      - "3306:3306"
