global
  log stdout format raw local0

defaults
  log global
  mode http
  timeout connect 5s
  timeout client 1h
  timeout server 1h

frontend docker_api
  bind :2375

  acl read_method method GET HEAD
  acl docker_ping path -i /_ping
  acl docker_version path -i /version
  acl docker_events path_reg ^/v[0-9][0-9.]*/events$
  acl docker_container_list path_reg ^/v[0-9][0-9.]*/containers/json$
  acl docker_container_inspect path_reg ^/v[0-9][0-9.]*/containers/[^/]+/json$
  acl docker_container_logs path_reg ^/v[0-9][0-9.]*/containers/[^/]+/logs$

  http-request deny unless read_method
  http-request deny unless docker_ping or docker_version or docker_events or docker_container_list or docker_container_inspect or docker_container_logs

  default_backend docker_socket

backend docker_socket
  server docker /var/run/docker.sock
